@import "foundation/components/grid";
@import "ux/variables";

section.timeline-container {
  width: 100%;
  background:#ffffff url("/assets/timeline-1.png") repeat-y 10% 0%;
  padding-bottom: 200px;
  .timeline {
    @include grid-row();
    .timeline-content {
      @include grid-column(12);
    }
  }
}