%section.hero-container
  .hero
    .hero-content
      %h2 
        Hi there, I’m Amber Aultman, an experience designer in Jacksonville, FL. I recently wrote a 
        %a{:title => "", :href => ""}blog post 
        on style prototypes and wanted to walk through the process here. I'd love your 
        %a{:title => "", :href => ""}feedback.

%section.timeline-container
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/aurora.jpg"
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/ireland.jpg"
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/oppify.jpg"
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/pop.jpg"
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/rappers.jpg"
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/rooftop.jpg"
  .timeline
    .timeline-content
      .item-container
        =image_tag "portfolio/taverna.jpg"

