%h1
  Style Prototypes:
%h2
  A Happy Medium
%p.article-info
  June 24, 2014 // Originally posted on AIGA Jacksonville
%p
  If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good old-fashioned “comps”. In corner number one, we have those who believe in designing every single pixel in Photoshop (read: graphics engine of your choice). In corner number two are those who believe in eschewing Photoshop in favor of designing in the browser.   