.contain-to-grid
  %nav.top-bar{:'data-topbar' => ''}
    %ul.title-area
      %li.name
        %h1
          = link_to "Amber Aultman", root_path
      %li.toggle-topbar.menu-icon
        %a{:title => "", :href => ""}
          %span

    %section.top-bar-section
      %ul.right
        %li= link_to "Style Prototype 1", root_path
        %li= link_to "Style Prototype 2", styletwo_path
